@{
	Layout = "";
}
<a class="btn btn-primary btn-icon btn-lg btn-extauth btn-brand-twitter" title="@T("Plugins.ExternalAuth.Twitter.Login")" 
   href="@Url.RouteUrl("SmartStore.TwitterAuth", new { returnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"], action = "Login" })">
	<i class="fab fa-fw fa-lg fa-twitter"></i>
</a>
