@using SmartStore.Web.Framework.UI
@{
	Layout = "";
	Html.AddCssFileParts(true, "~/Plugins/SmartStore.TwitterAuth/Content/twitterstyles.css");
}

<a class="btn btn-primary btn-icon btn-lg btn-extauth btn-brand-twitter" data-toggle="tooltip" title="@T("Plugins.ExternalAuth.Twitter.Login")" 
   href="@Url.RouteUrl("SmartStore.TwitterAuth", new { returnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"], action = "Login" })">
	<i class="fa fa-fw fa-lg fa-twitter"></i>
</a>
